body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(0.3turn, #93bbe0, #6fd6ff);
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* opacity: 0.8; */
}
main {
  margin-top: 2rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50rem;
  width: 60%;
  /* border: 1px solid white; */
  background-image: linear-gradient(rgb(255, 255, 255), rgb(214, 213, 213));
}

.form-container {
  width: 50%;
  /* border: 1px solid black; */
  margin-right: 2rem;
}

.result-container {
  display: block;
  width: 50%;
  /* justify-content: center; */
  flex-direction: row;
}

/* .hidden {
  display: none;
} */

/* !!!!!!!!! TABLE!!!!!!!!!! */
.result {
  width: 90%;
  height: 5rem;
  /* border: 1px solid black; */
}

.table {
  font-size: 10px;
  width: 80%;
  height: inherit;
  /* border: 1px solid black; */
  justify-content: center;
}
table {
  border: 1px solid White;
  width: 100%;
  background: linear-gradient(to right top, rgb(195, 247, 247), #93bbe0);
}
th {
  border: 1px solid white;
}
tr {
  border: 1px solid white;
}

/* !!!!!!!!! TABLE!!!!!!!!!! */

.speed:hover {
  background-image: linear-gradient(0.3turn, #93bbe0, #6fd6ff);
}
.speed {
  padding: 7px 4px;
  background: linear-gradient(to right top, rgb(195, 247, 247), #93bbe0);
}
.percent-option:hover {
  background: linear-gradient(to right top, rgb(195, 247, 247), #93bbe0);
}
.form-number {
  padding: 7px 4px;
}
input[type="number"] {
  width: 50px;
}
